<div class="col-md-12" *ngIf="!dropElement">
  <div class="card mt-5" #card>
    <div class="card-header clicklable" (click)="maxMinBody()">
      {{weather.name}}
    </div>
    <div class="card-body" >
      <blockquote class="blockquote mb-0">
        <h3>Clima: {{weather.weather[0]?.main}}</h3>
        <h4>Temperatura: {{weather.main?.temp | convertDegrees}}°</h4>
        <footer class="blockquote-footer">Viento : {{weather.wind?.speed}} KM/H, Nubosidad: {{weather.clouds?.all}} %
        </footer>
      </blockquote>
      <div class="mt-2 float-right">
        <button type="button" class="btn btn-outline-danger btn-sm" (click)="delete()">Borrar</button>
      </div>
    </div>
  </div>
</div>